<footer class="footer-section">
  <h2 class="footer-heading">Footer</h2>
  <p class="footer-description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam eveniet cum iure illo accusantium itaque explicabo dolor doloremque debitis...
  </p>

  <div class="footer-links">
    <a href="#">Privacy</a>
    <a href="#">Download</a>
    <a href="#">Support</a>
  </div>

  <div class="footer-table-wrapper">
    <table class="footer-table">
      <tr>
        <th>Bytron</th>
        <td>Head Office</td>
        <td>Hull Office</td>
        <td>Connect with Us</td>
        <td>In Proud Support</td>
        <td>ISO 27001:2022 & ISO 99001:2015</td>
      </tr>
      <tr>
        <td></td>
        <td>Concorde House</td>
        <td>The Deep Business Center</td>
        <td>
          <img src="data:image/jpeg;base64,...your_base64_here..." width="100" alt="Logo" />
        </td>
        <td>
          <img src="https://s31756.pcdn.co/europe/wp-content/uploads/sites/6/2024/08/ERS_Silver_Banner_2024-1024x365.png" width="100" alt="ERS Silver" />
        </td>
        <td>Certified Management System</td>
      </tr>
      <tr>
        <td></td>
        <td>Kirmington</td>
        <td>Tower Street</td>
        <td>+44(0)1652 688 626</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td>North Lincolnshire</td>
        <td>Hull</td>
        <td>info@bytron.aero</td>
        <td>Express</td>
        <td>Registered with the ICO</td>
      </tr>
      <tr>
        <td></td>
        <td>UNITED KINGDOM</td>
        <td>UNITED KINGDOM</td>
      </tr>
    </table>
  </div>
</footer>
