<h1 style="color: chocolate;">Add a note </h1>

    <form action="/api/addnote" method="post">
        <div class="cl">
         <label for="id">noteId </label>
         <input type="text" id=id name="noteId">
        </div>
        <div class="cl">
        <label for="id">notename </label>
        <input type="text" id=id name="noteName">
        </div>
        <div class="cl"> 
        <label for="id">notedescription </label>
        <input type="text" id=id name="description">
        </div>
        <div class="cl">
         <label for="id">notestatus </label>
        <input type="text" id=id name="status">
        </div>
        <button >Submit</button>
    </form>